<% content_for :title do %>Contact<% end %>
<%# <h3>Contact</h3> %>
<h3>Kontakt</h3>
<div class="form">
  <%= simple_form_for :contact, url: contact_path do |form| %>
    <%= form.input :name, :label => 'Imię i Nazwisko', autofocus: true %>
    <%= form.input :email, :label => 'E-mail', placeholder: 'user@domain.com' %>
    <%= form.input :content, :label => 'O sobie, a jakże', as: :text %>
<%#    <%= form.button :submit, 'Submit', class: 'submit' %>
    <%= form.button :submit, 'Zapisz', class: 'submit' %>
  <% end %>
</div>